@import "./_variables.scss";

body {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: $color-text;
  letter-spacing: 0.02em;
  line-height: 1.362;
}

.center {
  margin: auto;
  max-width: 970px;
}

.header {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  background-color: white;
}

.NavList {
  display: flex;
  justify-content: center;
  height: 80px;
  align-items: center;
  gap: 40px;
  border-bottom: 1px solid $color-light;

  &_item {
    &_link {
      color: $color-light;

      &:hover {
        color: $color-text;
      }
    }
  }
}

.images {
  display: flex;
  flex-direction: row;
}

.fa-solid:hover {
  color: black;
}

.hollow {
  color: #e5e5e5;
}

footer {
  height: 2000px;
}
